body {
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
}

.main_block {
    background-image: url(/beetroot-css7-1//img/bg.png);
    background-repeat: round;
    width: 1000px;
    height: 700px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.up_up_text {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.50);
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 5px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 11%;
}

.up_dw_text {
    color: rgba(0, 0, 0, 0.50);
    font-size: 16.5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    position: relative;
    top: 17%;
}

.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    top: 26%;
}

.img_block {
    flex-direction: column;
    height: 231px;
}

.img {
    width: 231px;
    height: 231px;
    background-repeat: round;
}

#img1 {
    background-image: url(/beetroot-css7-1//img/ilon.png);
    opacity: .75;
}

#img2 {
    background-image: url(/beetroot-css7-1//img/alex.png);
    opacity: .75;
}

#img3 {
    background-image: url(/beetroot-css7-1//img/elena.png);
    opacity: .75;
}

#img4 {
    background-image: url(/beetroot-css7-1//img/lily.png);
    opacity: .75;
}

.dw_up_text {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.70);
    padding-top: 13px;
    font-weight: bold;
    position: relative;
    top: -97%;
}

.dw_dw_text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.50);
    padding-top: 3px;
    position: relative;
    top: -95%;
}

.icons {
    width: 105px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    opacity: 1;
}

.icon {
    width: 30px;
    height: 30px;
    background-repeat: round;
}

.img_hovered {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 231px;
    height: 231px;
    top: -231px;
    opacity: 0;
}

.img_hovered:hover {
    opacity: 1;
    background-color: #00aed9b4;
}


#fb {
    background-image: url(/beetroot-css7-1//img/fb.png);
}

#twitter {
    background-image: url(/beetroot-css7-1//img/twitter.png);
}

#google {
    background-image: url(/beetroot-css7-1//img/google.png);
}

.img:hover {
    background-color: #00ccffb7;
}

.icons .icon:hover {
    transform: scale(2);
    transition: all .35s cubic-bezier(0.4, 0, 0.4, 1);
}



