body {
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
}

.main_block {
    background-image: url(../img/bg.png);
    background-repeat: round;
    width: 1000px;
    height: 700px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.up_up_text {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.50);
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 5px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 11%;
}

.up_dw_text {
    color: rgba(0, 0, 0, 0.50);
    font-size: 16.5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    position: relative;
    top: 17%;
}

.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    top: 26%;
}

.sect {
    flex-direction: column;
    height: 231px;
}

.img {
    width: 231px;
    height: 231px;
    background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

#img1 {
    background-image: url(../img/ilon.png);
}

#img2 {
    background-image: url(../img/alex.png);

}

#img3 {
    background-image: url(../img/elena.png);
}

#img4 {
    background-image: url(../img/lily.png);
}

.dw_up_text {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.70);
    padding-top: 13px;
    font-weight: bold;
}

.dw_dw_text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.50);
    padding-top: 3px;
}

.icon {
    width: 37px;
    height: 37px;
    background-repeat: round;
    transition: all cubic-bezier(0.4, 0, 0.4, 1);
    margin: 4px;
    visibility: hidden;
}

#img1:hover {
    background-image: none;
    background-color: #00ccff8a;   
}

#img2:hover {
    background-image: none;
    background-color: #00ccff8a;   
}

#img3:hover {
    background-image: none;
    background-color: #00ccff8a;   
}

#img4:hover {
    background-image: none;
    background-color: #00ccff8a;  
}

#fb {
    background-image: url(../img/fb1.png);
    
}

#twitter {
    background-image: url(../img/twitter1.png);
}

#google {
    background-image: url(../img/google1.png);
}

.icon:hover {
    transform: scale(1.65);
    display: block;
}

.img:hover > div {
    visibility: visible;
    transition: all .3s ease-in;
}



